body {
    background-color: white;
    font-family: sans-serif;
    color: black;
    min-width: 290px;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 300px;
    border-right: 5px solid;
    border-color: #d9d9d9;
}

header {
    color: rgb(16, 15, 15);
    margin: 10px;
    text-align: center;
    font-size: 1.8rem;
    padding: 10px;
}

#main-doc header {
    text-align: left;
    margin: 0;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    margin-bottom: 110px;
    padding: 20px;
}

#navbar ul {
    height: 88%;
    padding: 0%;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    list-style-type: none;
    width: 100%;
    position: relative;
    border-top: 1px solid;
    color: rgb(10, 9, 9);
}

#navbar a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(6, 6, 6);
    display: block;
    padding: 10px 30px;
}

section article {
    margin: 15px;
}

section li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
}


@media screen and (max-width: 1215px) {
    #navbar ul {
        height: 200px;
        border: 1px solid;
    }

    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 260px;
        z-index: 1;
    }
    #main-doc {
        position: relative;
        margin-left: 0;
        margin-top: 255px;
    }
}

@media screen and (max-width: 600px) {
    #main-doc {
        margin-left: -10px;
    }
    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
   
}